{% extends "header.html" %}

{% block body %}
<div class="group_information" style="padding-top: 5px;padding-right: 25px;padding-bottom: 5px;padding-left: 25px;">
    <br>
    <h1  style="color:white; text-align: center;">.</h1><br>

        <div class="container" style="max-width: 800px; margin: 20px 20px 20px 20px;">
            <div class="row">
                <div class="col-sm-6" style="min-height: 300px; max-width: 300px; margin: 20px;">
                    <img style="margin: 10px 10px 10px 10px; max-width: 250px; max-height: 250px;" src="{{url_for('static', filename='profile/clay_senior_edit.jpg')}}" alt="coming.jpg">
                </div>
                <div class="col-sm-6" style="min-height: 300px; max-width: 400px; margin: 20px;">
                    <div style="color:black;" class="media-body">
                <h4 style="color:black;" class="media-heading"></h4>
                    <p><b>Name: </b>Clay Cain</p>
                    <p><b>Email: </b>ccain19@students.kennesaw.edu</p>
                    <p><b>Major: </b>Computer Science</p>
                    <p><b>Expected Graduation Date: </b>May 2017</p>
                    <p><b>Resume: </b><a href="/static/resume/Clay_Cain_Resume_Best_Fix.docx">Here</a></p>


                    <div style="max-width:500px;">
                        <ul class="media-list">
                            <li class="media">
                                <div class="media-left">
                                </div>
                                <div class="media-body">
                                <h4 style="color:black;" class="media-heading">Biography</h4>
                                    Favorite languages are C++, C# and Python.
                                    I first learned how to program by creating a video game in C#
                                    using PlayStation Mobile Studio.
                                </div>
                            </li>
                        </ul>

                        <ul class="media-list">
                            <li class="media">
                                <div class="media-left">
                                </div>
                                <div class="media-body">
                                <h4 class="media-heading">Class Information</h4>
                                    Data Structures, Internet Programming, Parallel Programming, Operating Systems, Artificial Intelligence, Software Testing & QA.
                                </div>
                            </li>
                        </ul>

                        <ul class="media-list">
                            <li class="media">
                                <div class="media-left">
                                </div>
                                <div class="media-body">
                                <h4 class="media-heading">Interests</h4>
                                    Software Development, Video Game Development, Artificial Intelligence, High Performance Computing.
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <br><hr><br>
        <div class="container" style="max-width: 800px; margin: 20px 20px 20px 20px;">
            <div class="row">
                <div class="col-sm-6" style="min-height: 300px; max-width: 300px; margin: 20px;">
                    <img style="margin: 10px 10px 10px 10px; max-width: 250px; max-height: 250px;" src="{{url_for('static', filename='profile/Paul_and_Bane.JPG')}}" alt="Paul_and_Bane.JPG">
                </div>
                <div class="col-sm-6" style="min-height: 300px; max-width: 400px; margin: 20px;">
                    <div style="color:black;" class="media-body">
                <h4 style="color:black;" class="media-heading"></h4>
                    <p><b>Name: </b>James "Paul" Gowdy</p>
                    <p><b>Email: </b>paulgowdy1421@gmail.com</p>
                    <p><b>Major: </b>Computer Science</p>
                    <p><b>Expected Graduation Date: </b>May 2017</p>

                     <ul class="media-list">
                        <li class="media">
                            <div class="media-left">
                            </div>
                            <div class="media-body">
                            <h4 class="media-heading">Biography</h4>
                                Hailing from the SouthWest corner of Georgia (Albany Ga, to be specific), Paul moved to Kennesaw in 2014 to attend KSU as a Computer Science major.
                                His studies have done well and he looks forward to completing his degree in May of 2017.
                            </div>
                        </li>
                    </ul>

                    <ul class="media-list">
                        <li class="media">
                            <div class="media-left">
                            </div>
                            <div class="media-body">
                            <h4 class="media-heading">Class Information</h4>
                                Software Engineering
                                Distributed Computing
                                SWE - Embedded Systems Design and Analysis
                                SWE - Testing and Q/A
                            </div>
                        </li>
                    </ul>

                    <ul class="media-list">
                        <li class="media">
                            <div class="media-left">
                            </div>
                            <div class="media-body">
                            <h4 class="media-heading">Interests</h4>
                                In addition to programming small projects in his spare time, Paul also enjoys spending time with his dogs (A mini-Aussie named Bane and a Keeshond named Danger), caring for his geckos and axolotls, and swimming.
                            </div>
                        </li>
                    </ul>
                </div>
                </div>
            </div>
        </div>
        <br><hr><br>
        <div class="container" style="max-width: 800px; margin: 20px 20px 20px 20px;">
            <div class="row">
                <div class="col-sm-6" style="min-height: 300px; max-width: 300px; margin: 20px;">
                    <img style="margin: 10px 10px 10px 10px; max-width: 250px; max-height: 250px;" src="{{url_for('static', filename='profile/jpatte95.jpg')}}" alt="coming.jpg">
                </div>
                <div class="col-sm-6" style="min-height: 300px; max-width: 400px; margin: 20px;">
                    <div style="color:black;" class="media-body">
                        <h4 style="color:black;" class="media-heading"></h4>
                            <p><b>Name: </b>James E. Patterson</p>
                            <p><b>Email: </b>jpatte95@students.kennesaw.edu</p>
                            <p><b>Major: </b>Computer Science</p>
                            <p><b>Expected Graduation Date: </b>12 December 2016</p>
                            <p><b>Resume: </b><a href="/static/resume/JamesPatterson.pdf ">Here</a></p>

                         <ul class="media-list">
                            <li class="media">
                                <div class="media-left">
                                </div>
                                <div class="media-body">
                                <h4 class="media-heading">Biography</h4>
                                    bio
                                </div>
                            </li>
                        </ul>

                        <ul class="media-list">
                            <li class="media">
                                <div class="media-left">
                                </div>
                                <div class="media-body">
                                <h4 class="media-heading">Class Information</h4>
                                    classes
                                </div>
                            </li>
                        </ul>

                        <ul class="media-list">
                            <li class="media">
                                <div class="media-left">
                                </div>
                                <div class="media-body">
                                <h4 class="media-heading">Interests</h4>
                                    interests
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}