{% extends "header.html" %}
    {% block body %}

    <title>Meraki : Java : Final Thoughts</title>

    <style>
    hr {
        color: blue;
        display: block;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        margin-left: auto;
        margin-right: auto;
        border-style: inset;
        border-width: 10px;
    }
    </style>

        <br><h1 style="text-align: center;"><img style="max-width: 175px; margin-top: -10px; " src="{{url_for('static', filename='photos/Java.png') }}">
        Welcome to the Java Final Thoughts page, mate!</h1>

        <hr>

        <blockquote>

            Final Thoughts:
            <br>
            If you're seeing this page, then hopefully you've just completed our Java tutorial section!
            If you haven't yet, we invite you to check out one or more of our other tutorials, to learn about another language and see how they contrast, or to further your education on Java.


        </blockquote>

I (Paul) highly recommend the comprehensive version of Daniel Liang's Introduction to Java Programming.
I find that it does an excellent job of explaining more advanced Java concepts than our website delves into, while also having a variety of exercises and examples that I felt helped me grow as a programer.
The second newest edition (9th edition) covers the same material and concepts (aside from covering Java Swing for GUI, while the newer edition covers JavaFX) as the newest edition, but used copies are available at a very low cost.

Regardless of your next steps, I hope that our Java tutorial has demonstrated the tremendous potential that Java has for practically any application and I also hope you took the time during the tutorial to try coding your own projects to apply the concepts we discussed.

<hr>
<h3>References/Sources</h3>
<p>I felt it was important to acknowledge the sources I used while researching for this tutorial.</p>

<p><a href="http://ksuweb.kennesaw.edu/~ashaw8/">-Dr Shaw's CS1301/CS1302 teaching materials.</a></p>
<p><a href="https://docs.oracle.com/javase/tutorial/">-The Official Oracle Java Tutorials.</a></p>
<p><a href="https://docs.oracle.com/javase/tutorial/">-The Official Oracle Java API.</a></p>

    {% endblock %}