{% extends "header.html" %}

{% block body %}


    <div>

      <!-- Nav tabs -->
      <ul class="nav nav-pills" role="tablist">
        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
        <li role="presentation"><a href="#send" aria-controls="send" role="tab" data-toggle="tab">Send a Message</a></li>
        <li role="presentation"><a href="#check" aria-controls="check" role="tab" data-toggle="tab">Check Messages</a></li>
      </ul>

      <!-- Tab panes -->


    <!-- HOME ---------------------------------------------------------------------------------------------------------------------------------->

        <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active" id="home">
                <br><hr class="ones"><br>

                <h1 align="center">Hello, <u>{{ un }}</u></h1>
                <h2 align="center">You have {{number_of_messages}} unread messages!</h2>
                <h3 align="center">{{ mess }}</h3>
                <h3 align="center">{{ mess1 }}</h3>

                <br><hr class="ones"><br>

            </div>

<!-- SEND MESSAGE ---------------------------------------------------------------------------------------------------------------------------------->

            <div role="tabpanel" class="tab-pane fade" id="send">
                <br><br>
                <div class="send_msg_bg" style="padding-top: 25px;padding-right: 25px;padding-bottom: 25px;padding-left: 25px;">
                    <br><br>
                    <h1>...</h1>
                    <div class="row">

                        <form method="post">

                            <div class="dropdown">
                              <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                Choose A User
                                <span class="caret"></span>
                              </button>


                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    {% for row in file_query %}
                                        <tr>
                                            {% for val in row %}
                                                <div class="radio">
                                                    <label>
                                                    <li><input type="radio" name="optionsRadios" id="optionsRadios2" value="{{val}}">
                                                    {{val}}</li>
                                                    </label>
                                                </div>
                                            {% endfor %}
                                        </tr>
                                    {% endfor %}
                                  </ul>




                       <!--       <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                {% for row in file_query %}
                                    <tr>
                                        {% for val in row %}
                                            <li><input type="radio" name="send_to" value={{val}}> {{val}}</li><br>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                              </ul>-->
                            </div><br>
                            <input class="form-control" type="hidden" name="message_choice" value="sending">
                            <input class="form-control" name="subject" placeholder="Message Subject"><br>
                            <textarea class="form-control" name="message" placeholder="Write your message, mate"></textarea><br>
                            <input  class="btn btn-default" type="submit" name="action" value="Send">
                        </form>
                    </div>
                </div>

            </div>

    <!-- CHECK MSGS ---------------------------------------------------------------------------------------------------------------------------------->

            <div role="tabpanel" class="tab-pane fade" id="check">
                <br><hr class="ones"><br>
                <div class="send_msg_bg2" style="padding-top: 25px;padding-right: 25px;padding-bottom: 25px;padding-left: 25px;">
                    <div style="text-align: left; clear: both;">
                        {% for r in newer_query %}
                            <ul style="float: left; clear: both;">
                                <h4 style="color: white;">
                                    <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"> </span>
                                    <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                                        <b><u>From</u></b>: {{r[1]}} <b> </b>
                                    <span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span>
                                        <b><u>Subject</u></b>: {{r[2]}} <b> </b>
                                    </h4>

                                    <FORM style="float:left; margin-right:5px;" METHOD="POST" ACTION="/read_message/">
                                        <input class="form-control" type="hidden" name="_id" value="{{r[0]}}">
                                        <input class="form-control" type="hidden" name="_username_from" value="{{r[1]}}">
                                        <input class="form-control" type="hidden" name="_subject" value="{{r[2]}}">
                                        <input class="form-control" type="hidden" name="_message" value="{{r[3]}}">
                                        <input class="form-control" type="hidden" name="_username_to" value="{{r[4]}}">
                                        <input type="submit" value="Read Message" class="btn btn-primary btn-lg" style="clear: both;">
                                    </FORM>

                                    <FORM style="float:left; margin-right:5px;" METHOD="POST" ACTION="/delete_message/">
                                        <input class="form-control" type="hidden" name="_id" value="{{r[0]}}">
                                        <input class="form-control" type="hidden" name="_username_from" value="{{r[1]}}">
                                        <input class="form-control" type="hidden" name="_subject" value="{{r[2]}}">
                                        <input class="form-control" type="hidden" name="_message" value="{{r[3]}}">
                                        <input class="form-control" type="hidden" name="_username_to" value="{{r[4]}}">
                                        <input type="submit" value="Reply/Delete" class="btn btn-danger btn-lg" style="clear: both;">
                                    </FORM>

                            </ul>

                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}