{% extends "header.html" %}

{% block body %}

<!-- The import required for AngularJS -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

<!--=================================================================================================================================

White space         : &nbsp;
bold tag            : <b></b>
Indent              : <p style="text-indent: 50px;">    </p>
Horz Bar with \n    : <br><hr class="ones"><br>
hyper link          : <a href="/location/">TEXT</a>
bootstrap glyphs    : <span class="glyph-goes-here" aria-hidden="true"></span>
image               : <img src="{{url_for('static', filename='photos/cover.jpg') }}">
DL of static file   : <a href="/static/resume/Resume30August2016.doc">Here</a>

use .container for containing responsive fixed width containers
unable to be nested

    <div class="container">
    ...
    </div>

use .container-fluid for a full width container, which will span across the entire viewport

    <div class="container-fluid">
    ...
    </div>

<p style="text-indent: 50px;">

</p>

<ul>
    <li>
        <b>

        </b>
        Text <br>
    </li>
</ul>

=================================================================================================================================-->

    <br><br><br><h3 style="text-align: center;"><img style="max-width: 175px; margin-top: -10px; " src="{{url_for('static', filename='photos/Javascript/javascript.png') }}">
    Welcome to the Javascript Assignments Homepage, <b>{{un}}</b>!</h3>

    <hr style="color: blue;display: block;margin-top: 0.5em;margin-bottom: 0.5em;margin-left: auto;margin-right: auto;border-style: inset;border-width: 10px;">

    <p class="intro">
        <center><b>
            Javascript | The assignment of values to variables
        </b></center>
    </p>

<!--========================================================================================================================-->
        <br>
        <hr style="color: blue;display: block;margin-top: 0.5em;margin-bottom: 0.5em;margin-left: auto;margin-right: auto;border-style: inset;border-width: 10px;">
        <br>
<!--========================================================================================================================-->

    <h3>Assignment Operators</h3>

    <p>

        The equals sign, an assignment operator, will assign a value to a variable. <b>var x = 1;</b> Here we are declaring a
        variable named x, and assigning the value of 1 to the variable x. <b>x += 4;</b> Here we are adding 4 to the value of
        x, and reassigning the value for x to the new value which is 5. Next we will discuss many of the different ways to use
        the operators within Javascript. <br>

        <ul>
            <li>
                <b>
                    Operator: = <br>
                </b>
                a = b; <br> means a = b <br> var x, y = 5;<br> x = y; <br> Current x: 5 <br>
            </li>
            <li>
                <b>
                    Operator: = += <br>
                </b>
                x += y; <br> means x = x + y <br> var x = 5; <br> x += 5; <br> Current x: 10 <br>
            </li>
            <li>
                <b>
                    Operator: = -= <br>
                </b>
                a -= b; <br> means a = a - b; <br> var x = 5; <br> x -= 5; <br> Current x: 0 <br>
            </li>
            <li>
                <b>
                    Operator: = *= <br>
                </b>
                x *= y; <br> means x = x * y <br> var x = 5; <br> x *= 5; <br> Current x: 25 <br>
            </li>
            <li>
                <b>
                    Operator: = /= <br>
                </b>
                a /= b; <br> means a = a / b <br> var x = 5; <br> x /= 5; <br> Current x: 1 <br>
            </li>
            <li>
                <b>
                    Operator: = %= <br>
                </b>
                x %= y; <br> means x = x % y <br> var x = 5; <br> x %= 5; <br> Current x: 0 <br>
            </li>
            <li>
                <b>
                    Operator: = <<= <br>
                </b>
                a <<= b; <br> means a = a << b <br>
            </li>
            <li>
                <b>
                    Operator: = >>= <br>
                </b>
                x >>= y; <br> means x = x >> y <br>
            </li>
            <li>
                <b>
                    Operator: = >>>= <br>
                </b>
                a >>>= b; <br> means a = a >>> b <br>
            </li>
            <li>
                <b>
                    Operator: = &= <br>
                </b>
                x <<= y; <br> means x = x << y <br>
            </li>
            <li>
                <b>
                    Operator: ^= <br>
                </b>
                a ^= b; <br> means a = a ^ b <br>
            </li>
            <li>
                <b>
                    Operator: |= <br>
                </b>
                x |= y; <br> means x = x | y <br>
            </li>
            <li>
                <b>
                    Operator: **= <br>
                </b>
                a **= b; <br> means a = a ** b [Experimental as of 2016; Suggested not to use due to instability] <br>
            </li>
        </ul>

    </p>

<!--========================================================================================================================-->
        <br>
        <hr style="color: blue;display: block;margin-top: 0.5em;margin-bottom: 0.5em;margin-left: auto;margin-right: auto;border-style: inset;border-width: 10px;">
        <br>
<!--========================================================================================================================-->

        <h3 style="text-align: center;">Next, we will take a look at the different Data Types within Javascript.</h3>

        <p style="text-align: center;">Just follow the buttons to continue the tutorial, {{un}}</p>


        <br>

        <a href="/Javascript/arithmetic"><button type="button" class="btn btn-primary btn-lg" aria-label="Left Align">
        <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span> Javascript - Arithmetic
        </button></a>

        <a href="/Javascript/data_types"><button type="button" class="btn btn-primary btn-lg" style="float: right;">
        Javascript - Data Types <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
        </button></a>

{% endblock %}