{% extends "header.html" %}

{% block body %}

    <br><hr class="ones"><br>

    <form method="post" action="/about_me2/">
        <br>
        <input class="form-control" type="hidden" name="username" value={{un}}>
        <textarea class="form-control" name="about" placeholder="Write about yourself, mate."></textarea><br>
        <input class="form-control" type="submit" name="update" value="Update About Me">
    </form>

    <br><hr class="ones"><br>
    <h1 align="center"><span class="glyphicon glyphicon-copyright-mark" aria-hidden="true"></span> Meraki (2016)</h1>
    <h2 align="center">{{un}}</h2>
    <br><hr class="ones"><br>

{% endblock %}