{% extends "header.html" %}

{% block body %}

    <br><hr class="ones"><br>

    <form method="post" action="/about_me3/">
        <br>
        <input class="form-control" type="hidden" name="username" value={{username}}>
        <p>Edit Your Email:</p>
        <br>
        <input class="form-control" type="text" name="email" value={{email}}>
        <br>
        <p>Edit Your First Name:</p>
        <br>
        <input class="form-control" type="text" name="first" value={{first}}>
        <br>
        <p>Edit Your Last Name:</p>
        <br>
        <input class="form-control" type="text" name="last" value={{last}}>
        <br>
        <input class="form-control" type="submit" name="update" value="Update Information">
    </form>

    <br><hr class="ones"><br>
                <h1 align="center"><span class="glyphicon glyphicon-copyright-mark" aria-hidden="true"></span> Meraki (2016)</h1>
                <h2 align="center">{{un}}</h2>
                <br><hr class="ones"><br>

{% endblock %}