{% extends "header.html" %}

{% block body %}

<style>
hr {
    color: blue;
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 10px;
}
</style>

    <br><br><br><h1 style="text-align: center;"><img style="max-width: 175px; margin-top: -10px; " src="{{url_for('static', filename='photos/c_sharp.png') }}">
    Welcome to the C# Final Thoughts Homepage, mate!</h1>

    <hr>

    <blockquote>

        C# Final Thoughts Information

    </blockquote>
<style>
.code
{
	background-color: #E0FFFF;
}
.output
{
	background-color: #000000;
	color: #ffffff;
}
h1
{
	text-align: center;
	text-decoration: underline;
}
h2
{
	text-decoration: underline;
}
.content
{
	text-align: center;
}
table
{
background-color: #6495ed;
color: #ffffff;
border: solid 2px black;
}
</style>
<p>You have successfully gone through the entire C# tutorial, congratulations!</p>
<p>Although your learning does not end here, there are still plenty of other data structures and things to learn regarding C# and programming in general.</p>
<p>I recommend checking out the other tutorials on this website and compare C# to the other languages, the intent is that you will begin to recognize many languages look similar.
</br>So the good news is once you have a solid understanding of one programming language, it should be extremely easy for you to pick up new programming languages with ease.</p>
<p>Below are some links I have provided to aid you on your continued quest of programming knowledge!</p>
<h2>C# Documentation</h2>
<p><a href="https://msdn.microsoft.com/en-us/library/kx37x362.aspx">https://msdn.microsoft.com/en-us/library/kx37x362.aspx</a></p>
<p>&nbsp;</p>
<h2>Jon Preston Unity Tutorials (Make a video game!)</h2>
<p><a href="https://www.youtube.com/watch?v=x5V7i97cDZA&amp;list=PL114Ywb6JFf7yiRdnvwbfkgrKoErntLLr&amp;index=1">https://www.youtube.com/watch?v=x5V7i97cDZA&amp;list=PL114Ywb6JFf7yiRdnvwbfkgrKoErntLLr&amp;index=1</a></p>
<p>&nbsp;</p>
<h2>Data Structure Visualization</h2>
<p><a href="https://www.cs.usfca.edu/~galles/visualization/Algorithms.html">https://www.cs.usfca.edu/~galles/visualization/Algorithms.html</a></p>
<p>&nbsp;</p>
<h2>Algorithm Efficiency Cheat Sheet</h2>
<p><a href="http://bigocheatsheet.com/">http://bigocheatsheet.com/</a></p>
{% endblock %}