{% extends "header.html" %}

{% block body %}

        <h1 align="center">SQL</h1>

        <style>
        hr {
        color: blue;
        display: block;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        margin-left: auto;
        margin-right: auto;
        border-style: inset;
        border-width: 10px;
        }
        </style>

        <br><br><br><h3 style="text-align: center;"><img style="max-width: 175px; margin-top: -10px; " src="{{url_for('static', filename='photos/Sql.jpg') }}">
        Welcome to the SQL Introduction Homepage, <b>{{un}}</b>!</h3>

        <hr>

        <br>

        <p class="intro">SQL is a standard language for accessing and manipulating databases.</p>
        <hr />
        <h2>What is SQL?</h2>
        <ul>
        <li>SQL stands for Structured Query Language</li>
        <li>SQL lets you access and manipulate databases</li>
        <li>SQL is an ANSI (American National Standards Institute) standard</li>
        </ul>
        <hr />
        <h2>What Can SQL do?</h2>
        <ul>
        <li>SQL can execute queries against a database</li>
        <li>SQL can retrieve data from a database</li>
        <li>SQL can insert records in a database</li>
        <li>SQL can update records in a database</li>
        <li>SQL can delete records from a database</li>
        <li>SQL can create new databases</li>
        <li>SQL can create new tables in a database</li>
        <li>SQL can create stored procedures in a database</li>
        <li>SQL can create views in a database</li>
        <li>SQL can set permissions on tables, procedures, and views</li>
        </ul>
        <hr />
        <h2>SQL is a Standard - BUT....</h2>
        <p>Although SQL is an ANSI (American National Standards Institute) standard, there are different versions of the SQL language.</p>
        <p>However, to be compliant with the ANSI standard, they all support at least the major commands (such as SELECT, UPDATE, DELETE, INSERT, WHERE) in a similar manner.</p>
        <div class="w3-panel w3-note">
        <p><strong>Note:</strong> Most of the SQL database programs also have their own proprietary extensions in addition to the SQL standard!</p>
        </div>
        <hr />
        <h2>Using SQL in Your Web Site</h2>
        <p>To build a web site that shows data from a database, you will need:</p>
        <ul>
        <li>An RDBMS database program (i.e. MS Access, SQL Server, MySQL)</li>
        <li>To use a server-side scripting language, like PHP or ASP</li>
        <li>To use SQL to get the data you want</li>
        <li>To use HTML / CSS</li>
        </ul>
        <hr />
        <h2>RDBMS</h2>
        <p>RDBMS stands for Relational Database Management System.</p>
        <p>RDBMS is the basis for SQL, and for all modern database systems such as MS SQL Server, IBM DB2, Oracle, MySQL, and Microsoft Access.</p>
        <p>The data in RDBMS is stored in database objects called tables.</p>
        <p>A table is a collection of related data entries and it consists of columns and rows.</p>
        <br><hr><br>

        <h3 style="text-align: center;">Next, is the syntax part of SQL</h3>

        <p style="text-align: center;">We will discuss the basic syntax rules of SQL, {{un}}</p>


        <br>

        <a href="/#/#"><button type="button" class="btn btn-primary btn-lg" aria-label="Left Align">
        <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span> #
        </button></a>

        <a href="/SQL/syntax"><button type="button" class="btn btn-primary btn-lg" style="float: right;">
        SQL - Syntax <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
        </button></a>

{% endblock %}